#charset "UTF-8";

body{
    background-color: powderblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    background-color: salmon;
}
h1{
    color: blueviolet;
    background-color: pink;
}

h2.basic{
    background-color: seagreen;
    color: white;
}
h2{
    color: crimson;
}

